.body {
    background-color: #000b12;
}

/*Header-Section*/

.header-img {
    height: 8%;
    width: 15%;
}

.detail-area {
    width: 4%;
}

.header-details {
    font-size: larger;
    color: aliceblue;
    color: lightskyblue;
}

/*Photo and Description*/

.profile-photo {
    height: 16%;
    width: 16%;
    border-radius: 60%;
    margin-left: 55%;
    margin-top: 5%;
    margin-right: 5%;
}

.bio-intro {
    font-size: xx-large;
    font-weight: bolder;
    color: dodgerblue;
    margin-top: 30%;
    margin-left: 3%;
    width: 150%;
    text-align: center;
}

.bio-desc {
    font-size: large;
    color: beige;
    margin-left: 13%;
    width: 130%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.accounts-img {
    width: 70%;
    margin-left: 0%;
}

.button {
    height: 8%;
    width: 40%;
    margin-left: 58%;
    background-color: aliceblue;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    margin-top: 2%;
    color: #000b12;
}

/*Skills Section*/

.heading {
    font-size: 300%;
    font-weight: bolder;
    color: #000b12;
    margin-left: 2%;
    text-decoration: underline;
}

.skill-img {
    height: 70%;
    width: 15%; 
    margin-left: 20%;
}

.skill-head {
    color: #000b12;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 9%;
}

.star-img {
    height: 25%;
    width: 18%;
    align-self:center;
}

/*Projects*/

.project-div {
    height: 40%;
    width: 20%;
    background-color:gainsboro;
}

.project-title {
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    border-radius: 3%;
    border-width: 2%;
}

.project-banner {
    margin-left: 6%;
}

.project-desc {
    text-align: center;
    font-weight: bolder;
}

.know-more-btn {
    background-color: #000b12;
    height: 40%;
    width: 40%;
    margin-left: 30%;
    color: aliceblue;
    text-align: center;
}

/*Resume*/ 

.desc {
    font-size: x-large;
    color: #000b12;
    font-weight: bolder;
    margin-left: 4%;
}

.click {
    color: darkblue;
    font-weight: bolder;
    margin-left: 4%;
    font-size: x-large;
    width: 100%;
}

/*A&C*/

.certificate-div {
    margin-top: 2%;
    background-color:gainsboro;
    height: 600%;
    width: 50%;
    margin-left: 4%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.certificate-img {
    height: 60%;
    width: 15%;
    margin-left: 4%;
    border-width: 1%;
    border-color: black;
    margin-right: 3%;
}

.certificate-desc {
    font-size: larger;
    font-weight: bolder;
    margin-left: 3%;
}

.certi-desc {
    margin-left: 0%;
    font-size: medium;
    text-align: center;
}
/*Contact*/

.contact-through {
    font-size: larger;
    font-weight: 700;
    margin-left: 3%;
    color:#000b12;
}

.contact-detail {
    font-size: larger;
    font-weight: 700;
    color:darkblue;
    margin-left:  3%;
}

/*Projects Page*/

.description {
    font-size: larger;
    color: aliceblue;
    font-style: normal;
    margin-left: 3%;
    margin-right: 3%;
}

.screens {
    font-size: x-large;
    color: deepskyblue;
    font-style: normal;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 3%;
    text-decoration: underline;
}

.proto-images {
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
    height: 100%;
    width: 100%;
    background-color:  #000a2a;
}